.nav-img {
    background-image: url(https://docs.sencha.com/extjs/4.2.2/extjs-build/examples/shared/icons/fam/folder_go.png);
}
.set-img {
    background-image: url(https://docs.sencha.com/extjs/4.2.2/extjs-build/examples/shared/icons/fam/folder_wrench.png);
}
.inf-img {
    background-image: url(https://docs.sencha.com/extjs/4.2.2/extjs-build/examples/shared/icons/fam/information.png);
}